body {
    background-color: lightgrey;
}

img {
    display: block;
    margin: auto;
    padding: 20px;
}

h2 {
    text-align: center;
    padding-top: 10px;

}

h6 {
    text-align: center;
    padding-bottom: 30px
}

p {
    padding-left: 20px;
    padding-right: 20px;
}

